@import './variables.scss';

/* Buttons */
@mixin page_btn {
    color: white;
    background-color: $secondary_color;
    border-radius: 50rem;
    padding: .8rem 2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}