@import './variables.scss';

/* Buttons (da sistemare meglio) */
@mixin page_btn {
    color: white;
    background-color: $secondary_color;
    border-radius: 50rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}